In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector

connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="    ")
query = 'CREATE SCHEMA JoinBanking'
cursor = connection.cursor()
cursor.execute(query)

In [ ]:
cursor.execute("""
create table if not exists JoinBanking.Customers(
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    city VARCHAR(50)
) ENGINE=InnoDB;
""")

cursor.execute("""
create table if not exists JoinBanking.Accounts(
    account_id VARCHAR(10) PRIMARY KEY,
    customer_id INT,
    balance DECIMAL(10,2)
) ENGINE=InnoDB;
""")
connection.commit()

#Không có khóa ngoại

In [ ]:
cursor.execute("USE JoinBanking;")

In [ ]:
cursor.execute("""
INSERT IGNORE INTO Customers VALUES
    (1, 'Alice', 'Hanoi'),
    (2, 'Bob', 'HCM'),
    (3, 'Charlie', 'Danang'),
    (4, 'Diana', 'Hue')
;
""")
cursor.execute("""
INSERT IGNORE INTO Accounts VALUES
    ('A1', 1, 500),
    ('A2', 1, 1000),
    ('A3', 2, 1500),
    ('A4', 5, 300)
;
""")
connection.commit()

In [ ]:
import pandas as pd
query = """ SELECT * FROM Accounts;"""
data=pd.read_sql_query(query, connection)
data

In [ ]:

#Hiển thị tất cả các KH và các TK nếu có
query="""
SELECT c.name, a.account_id, a.balance
FROM Customers c
LEFT JOIN Accounts a ON c.customer_id = a.customer_id
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
#Tìm KH có ít nhất 1TK
query= """SELECT DISTINCT c.name, a.account_id
FROM Customers c
INNER JOIN Accounts a ON c.customer_id = a.customer_id""";   # INNER JOIN hoặc JOIN
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
# Hiển thị tất cả TK kể cả không biết thuộc KH nào
query="""
SELECT c.name, a.account_id, a.balance
FROM Customers c
RIGHT JOIN Accounts a ON c.customer_id = a.customer_id
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
# Truy vấn liệt kê toàn bộ khách hàng và tòan bộ tài khoản
query="""
SELECT c.name, a.account_id
FROM Customers c
LEFT JOIN Accounts a ON c.customer_id = a.customer_id

UNION
SELECT c.name, a.account_id
FROM Customers c
RIGHT JOIN Accounts a ON c.customer_id = a.customer_id
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
# truy vấn liệt kê toàn bộ kết hợp giữa khách hàng và tài khoản (mọi tổ hợp) (mọi tổ  hợp giữa KH và TK)
query="""
SELECT c.name, a.account_id
FROM Customers c
CROSS JOIN Accounts a
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
# Tìm KH không có TK
query="""
SELECT c.name, a.account_id
FROM Customers c
LEFT JOIN Accounts a ON c.customer_id = a.customer_id
WHERE 1=1
AND a.account_id IS NULL
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data

In [ ]:
# Tìm  TK không thuộc KH nào
query="""
SELECT c.name, a.account_id
FROM Customers c
RIGHT JOIN Accounts a ON c.customer_id = a.customer_id
WHERE 1=1
AND c.name IS NULL
;
"""
connection.commit()
data=pd.read_sql_query(query,connection)
data