#Linear Regression
30/62 for 90mins_28 OK

In [ ]:
print(len("Python"))

6

In [ ]:
a=10
b=2.5
c=a+b
print(type(c))
print(c)
type(c)

<class 'float'>
12.5

float

In [ ]:
numbers=[4,2,2,5,1,3,4,9]
print(numbers.count(4))

2

In [ ]:
name="Alice"
age=25
info=f"{name} is {age} years old"
print(info)

Alice is 25 years old

In [ ]:
score=85
if score>=90:
    grade="A"
elif score>=80:
    grade="B"
else:
    grade="C"
print(grade)

B

In [ ]:
def a_function(n):
    if n==0:
        return 1
    else:
        return n* a_function(n-1)
result= a_function(4)
print(result)

24

In [ ]:
animals=['cat', 'dog', 'rabbit', 'horse']
print(animals.index('rabbit'))

2

In [ ]:
data={"name": "Bob", "age": 30}
data["age"]+=5
print(data)

{'name': 'Bob', 'age': 35}

In [ ]:
def a_function(n):
    if n<=0:
        return 0
    elif n==1:
        return 1
    else:
        return a_function(n-1) + a_function(n-2)

result= a_function(6)
print(result)

8

In [ ]:
for i in range(1,6):
    print(i)
    break

1

In [ ]:
i=0
while i<3:
    print(i)
    i+=1

0
1
2

In [ ]:
file = open("example.txt", "w")
file.write("Hello, World!")
file.close()

In [ ]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [ ]:
for i in range(5):
    if i%2==0:
        continue
    print(i)

1
3

In [ ]:
with open("example.txt","r") as file:
    content= file.read()
print(content)

Python Programming

In [ ]:
x=10
while x>0:
      x-=3
      if x%2==0:
          print(x)
          break
      print(x, end=" ")

7 4

In [ ]:
result=[]
for i in range(5, -6, -2):
    result.append(i)
print(result)

[5, 3, 1, -1, -3, -5]

In [ ]:
result=0
for i in range(1,10,2):
    if i%3==0:
        break
    result+=i
print(result)

1

In [ ]:
with open("data.txt","r") as file:
    lines=file.readlines()

count=0
for line in lines:
    if line.strip()=="Python":
        count+=1
print(count)

#đếm số dong chứa chuỗi "Python" trong file data.txt

In [ ]:
i=0
while i<5:
    i+=1
    if i==3:
        continue
    print(i, end=" ")

1 2 4 5

In [ ]:
x=0
while x<=4:
    if x==3:
        continue
    print(x)
    x+=1

#lặp vô hạn

In [ ]:
text="Python is fun"
result=text.replace("fun", "awesome")
print(result[5:])

n is awesome

In [ ]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
result=[row[1] for row in matrix]
print(result)

[2, 5, 8]

In [ ]:
matrix=[[1,2,3],
    [4,5,6],
    [7,8,9]]
print(matrix[0:2] [0:1])

[[1, 2, 3]]

In [ ]:
text="a,b,c,d,e"
result=text.split(",") [::-1]
print(result)

['e', 'd', 'c', 'b', 'a']

In [ ]:
text="Data Science"
result=text[5:].upper()+ text[:4].lower()
print(result)

SCIENCEdata

In [ ]:
data=['Python', 'Data Science', 'Machine Learning', 'AI']
filtered_data= [word for word in data if 'a' in word.lower()]
print(filtered_data)

['Data Science', 'Machine Learning', 'AI']

In [ ]:
text="1234567890"
result=text[::2].replace('2', 'X') + text[1::2].replace('5', 'Y')
print(result)

1357924680

In [ ]:
data=[['Python', '3.8'], ['Data Science', 'ML'], ['AI', 'Deep Learning']]
cleaned_data=[[item.lower() for item in row] for row in data]
print(cleaned_data)

[['python', '3.8'], ['data science', 'ml'], ['ai', 'deep learning']]

In [ ]:
my_set={1,2,3,4,5}
my_set.add(6)  #thêm phần tử vào tập hợp
print(my_set[5])
# chỉ mục chỉ áp dụng với dữ liệu kiểu danh sách numpy, không áp dụng set tập hợp

TypeError: 'set' object is not subscriptable

In [ ]:
my_set={1,2,3}
your_set={3,4,5}
union_set=my_set.union(your_set)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
my_set={1,2,3}
your_set={4,5,6}
sdset=my_set ^ your_set
print(sdset)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_tuple=(1,2,3)
my_set=set(my_tuple)
my_dict= {x: x**2 for x in my_set}
print(len(my_dict))

3

In [ ]:
my_set={1,2,3}
your_set={3,4,5}
inset=my_set & your_set
print(inset)

{3}

In [ ]:
my_set={1,2,3,4}
your_set={3,4,5,6}
dset=my_set- your_set
print(dset)

{1, 2}

In [ ]:
my_tuple=(1,2,3,4,5)
new_tuple=my_tuple[::-1]
print(new_tuple)

(5, 4, 3, 2, 1)

In [ ]:
def process_tuple(t):
    return t[1::2]

my_tuple=(1,2,3,4,5,6,7,8)
result=process_tuple(my_tuple)
print(result)

(2, 4, 6, 8)

In [ ]:
my_dict={'a':1, 'b':2, 'c':3}
my_set=set(my_dict.values())
my_tuple=tuple(my_set)
print(my_tuple[1])

2

In [ ]:
my_set={1,2,3,4,5}
another_set={1,2,3,4,5,6,7}
result=my_set.issubset(another_set) and not my_set.issuperset(another_set)
print(result)

True

In [ ]:
my_dict={'a':1, 'b':2, 'c':3}
new_dict={k: v for k,v in my_dict.items() if v>1}
result=tuple(new_dict.keys())
print(result)

('b', 'c')

In [ ]:
my_dict={'x':10,'y':20}
my_set={key for key in my_dict if my_dict[key]>15}
my_tuple=tuple(my_set)
print(my_tuple)  #kiểu tuple có dấu , đằng sau

('y',)

In [ ]:
def setOperation(set1, set2):
    result=(set1|set2) - (set1&set2)
    final= {x for x in result if x%2==0}
    return final

set_a={1,2,3,4,5}
set_b={4,5,6,7,8}
result= setOperation(set_a, set_b)
print(result)

{8, 2, 6}

In [ ]:
my_set={1,2,3}
my_dict={x: x**3 for x in my_set}
my_tuple=tuple(my_dict.items())
filtered_tuple=tuple((k,v) for k,v in my_tuple if v%2!=0)
print(filtered_tuple)

((1, 1), (3, 27))

In [ ]:
my_dict={'a': (1,2), 'b': (3,4), 'c': (5,6)}
result={k: sum(v) for k,v in my_dict.items()}
sorted_result=sorted(result.items(), key=lambda item: item[1], reverse=True)
print(sorted_result)

[('c', 11), ('b', 7), ('a', 3)]

In [ ]:
class MyClasss:
    def __init__(self, value):
        self.value=value

obj=MyClass(self, 10)  #bỏ self
print(obj.value)

NameError: name 'MyClass' is not defined

In [ ]:
class MyClass:
    def __init__(self, value):
        self.value=value

obj=MyClass(20)
obj.value=30
print(obj.value)

30

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def birthday(self):
        self.age+=1

person= Person("Alice", 30)
person.birthday()
print(person.age)
print(person.birthday())

31
None

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def birthday(self):
        self.age += 1
        return self.age

person= Person("Alice", 30)
person.birthday()
print(person.age)
print(person.birthday())

31
32

In [ ]:
class Counter:
    count=0
    def __init__(self):
        Counter.count +=1

c1=Counter()
c2=Counter()
c3=Counter()
print(Counter.count)

3

In [ ]:
class Animal:
    def __init__(self, name):
        self.name= name
    def speak(self):
        return f"{self.name} makes a noise"

class Dog(Animal):
    def speak(self):
        return f"{self.name} barks"

dog=Dog("Buddy")
print(dog.speak())

Buddy barks

In [ ]:
class A:
    def __init__(self):
        self.__x=1
    def get_x(self):
        return self.__x

class B(A):
    def __init__(self):
        super().__init__()
        self.__x=2
    def get_x(self):
        return self.__x

b=B()
print(b.get_x())

2

In [ ]:
class MyClass:
    __hidden_variable=10
    def add(self, increment):
        self.__hidden_variable += increment
        print(self.__hidden_variable)

obj=MyClass()
obj.add(2)
obj.add(5)
print(obj.__hidden_variable)

12
17

AttributeError: 'MyClass' object has no attribute '__hidden_variable'

In [ ]:
class A:
    def __init__(self):
        self.value=0
    def increment(self):
        self.value+=1
class B(A):
    def __init__(self):
        super().__init__()
        self.value=5
    def increment(self):
        self.value+=2
class C(B):
    def __init__(self):
        super().__init__()
        self.value=10
    def increment(self):
        super().increment()
        self.value+=3

c=C()
c.increment()
print(c.value)

15

In [ ]:
class Base:
    def __init__(self):
        self.a="Base"
    def display(self):
        return self.a
class Derived(Base):
    def __init__(self):
        super().__init__()
        self.a="Derived"
    def display(self):
        return self.a+ " " + super().display()

d=Derived()
print(d.display())

Derived Derived

In [ ]:
class Parent:
    def __init__(self, value):
        self.value=value
    def show(self):
        return self.value
class Child(Parent):
    def __init__(self,value, extra):
        super().__init__(value)
        self.extra=extra
    def show(self):
        return super().show() + self.extra

c=Child(10,5)
print(c.show())

15

In [ ]:
class Vehicle:
    def __init__(self, brand):
        self.brand= brand
class Car(Vehicle):
    def __init__(self, brand, model):
        super().__init__(brand)
        self.model=model
car= Car("Toyota", "Corolla")
print(car.brand, car.model)

Toyota Corolla

In [ ]:
class Parent:
    def greet(self):
        print("Hello from Parent")
class Child(Parent):
    def greet(self):
        pass
child=Child()
child.greet()

In [ ]:
class Base:
    def __init__(self):
        self.__name="John"
        self._gender="Male"
    def get_name(self):
        return self.__name
class Derived(Base):
    def __init__(self):
        super().__init__()
    def get_gender(self):
        return self._gender

obj=Derived()
print(obj.get_name())
print(obj.get_gender())

John
Male

In [ ]:
class X:
    def method(self):
        return "X"
class Y(X):
    def method(self):
        return "Y" + super().method()
class Z(Y):
    def method(self):
        return "Z" + super().method()
z=Z()
print(z.method())

ZYX

In [ ]:
class A:
    def __init__(self):
        self.value="A"
    def get_value(self):
        return self.value
class B(A):
    def __init__(self):
        super().__init__()
        self.value+="B"
    def get_value(self):
        return self.value
class C(B):
    def __init__(self):
        self.value="C"
        super().__init__()

c=C()
print(c.get_value())

AB

In [ ]:
class A:
    def __init__(self, x=1):
        self.x=x
    def method(self):
        return "A"
class B(A):
    def __init__(self, x=2, y=3):
        super().__init__(x)
        self.y=y
    def method(self):
        return "B"+ super().method()
class C(B):
    def __init__(self, x=4, y=5, z=6):
        super().__init__(x,y)
        self.z=z
    def method(self):
        return "C" + super().method()

c=C()
print(c.method())
print(c.__dict__)

CBA
{'x': 4, 'y': 5, 'z': 6}