In [ ]:
CREATE INDEX idx_customers_city
ON customers(city);

-- C2
CREATE INDEX idx_orders_customer
ON orders(customer_id);


-- C3
CREATE UNIQUE INDEX idx_products_name
ON products(name);

-- C4
CREATE INDEX idx_order_items_product_order
ON order_items(product_id, order_id);

-- C5
EXPLAIN SELECT * FROM customers WHERE city = 'Hanoi';

-- C6
DROP INDEX idx_customers_city ON customers;

-- C7
CREATE INDEX idx_orders_total
ON orders(total);

-- C8
CREATE INDEX idx_employees_department
ON employees(department);

SELECT * FROM employees WHERE department = 'Sales';

-- C9
EXPLAIN SELECT * FROM products WHERE price > 1000;

-- C10
CREATE INDEX idx_orders_date
ON orders(order_date);

####


CREATE INDEX idx_customers_city
ON customers(city);

-- C2
CREATE INDEX idx_orders_customer
ON orders(customer_id);


-- C3
CREATE UNIQUE INDEX idx_products_name
ON products(name);

-- C4
CREATE INDEX idx_order_items_product_order
ON order_items(product_id, order_id);

-- C5
EXPLAIN SELECT * FROM customers WHERE city = 'Hanoi';

-- C6
DROP INDEX idx_customers_city ON customers;

-- C7
CREATE INDEX idx_orders_total
ON orders(total);

-- C8
CREATE INDEX idx_employees_department
ON employees(department);

SELECT * FROM employees WHERE department = 'Sales';

-- C9
EXPLAIN SELECT * FROM products WHERE price > 1000;

-- C10
CREATE INDEX idx_orders_date
ON orders(order_date);