In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp313-cp313-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp313-cp313-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   -------- ------------------------------- 3.4/16.1 MB 13.0 MB/s eta 0:00:01
   ---------------------- ----------------- 9.2/16.1 MB 19.6 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 24.8 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 23.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [18]:
import mysql.connector
connection = mysql.connector.connect(
    host="127.0.0.1",     
    user="root",         
    password="2011DongBaLiem@",  
    database="test"     
     
)

In [ ]:
cursor1 = connection.cursor()
cursor1.execute("""
CREATE TABLE IF NOT EXISTS CUSTOMERS2(    
    EMAIL text PRIMARY KEY, 
    NAME text NOT NULL,
    PHONE text NOT NULL
);
""")
connection.commit()

In [17]:


cursor.execute("""
INSERT INTO  CUSTOMERS1(EMAIL, NAME, PHONE)
VALUES
    ('nguyen2@aivietnam.edu.vn', 'Nguyen', '123456789'),
    ('admin2@aivietnam.edu.vn', 'Vinh', '123456789');
""")
connection.commit()
data=pd.read_sql_query("SELECT * FROM CUSTOMERS1", connection)
print(data)

ProgrammingError: 1146 (42S02): Table 'test.customers1' doesn't exist

In [23]:
import mysql.connector
db = mysql.connector.connect(user = "root", password = "2011DongBaLiem@", host="localhost")

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000299AB949590>

In [24]:
query = 'CREATE SCHEMA database_d35_usinglib '
cursor = db.cursor()
cursor.execute(query)

In [25]:
query = 'CREATE TABLE database_d35_usinglib.PRODUCT(ID INT NOT NULL PRIMARY KEY, NAME TEXT NOT NULL, PRICE INT)'
cursor.execute(query)

In [29]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [34]:
import pandas as pd

query = """
    INSERT INTO database_d35_usinglib.PRODUCT(ID, NAME, PRICE)
    VALUES
    (3, 'IPhone 15', 18000000),
    (4, 'Galaxy Z-5', 30000000)
    """
cursor.execute(query)
db.commit()

query = 'SELECT * FROM database_d35_usinglib.PRODUCT'
data = pd.read_sql_query(query, db)
print(data)

   ID        NAME     PRICE
0   1   IPhone 15  18000000
1   2  Galaxy Z-5  30000000
2   3   IPhone 15  18000000
3   4  Galaxy Z-5  30000000

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19864\3332811059.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, db)

In [ ]:
import sqlite3 
connection1 = sqlite3.connect('database1.sqlite')
cursor1 = connection1.cursor()
cursor1.execute("""
CREATE TABLE IF NOT EXISTS PRODUCT(
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);
""")

In [ ]:
cursor1.execute("""
INSERT INTO  PRODUCT(ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000),
    (2, 'Galaxy Z-Fold 5', 30000000);
""")
connection1.commit() 
import pandas as pd
data1=pd.read_sql_query("SELECT * FROM PRODUCT", connection1)
print(data1)

In [ ]:
cursor1.execute("""
UPDATE PRODUCT
SET price =50000000
WHERE 1=1
AND name ='Galaxy Z-Fold 5';
""")
connection1.commit()

data1=pd.read_sql_query("SELECT * FROM PRODUCT", connection1)
print(data1)

In [ ]:
cursor1.execute("""
DELETE FROM PRODUCT
WHERE 1=1
AND name= 'iPhone 15';
""")
connection1.commit()

data1=pd.read_sql_query("SELECT * FROM PRODUCT", connection1)
print(data1)