In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (9.2.0)

In [8]:
import mysql.connector
connection = mysql.connector.connect(
    host="127.0.0.1",     
    user="root",         
    password="2011DongBaLiem@",  
    database="quanlybanhangc"     
     
)

In [12]:
cursor = connection.cursor()
cursor.execute("""
create table if not exists Salespersons(
    SalespersonID int primary key,
    Fullname varchar(255) not null,
    Phonenumber varchar(15) unique not null) ENGINE=InnoDB;
""")
cursor.execute("""
create table if not exists Customers(
    CustomerID int primary key,
    Fullname varchar(255) not null,
    Phonenumber varchar(15) unique not null,
    Email varchar(255) unique not null) ENGINE=InnoDB;
""")
cursor.execute("""
create table if not exists orders(
    OrderID int primary key,
    CustomerID int  not null,
    SalespersonID int  not null,
    Orderdate date not null,
    Totalamount decimal(10,2),
    foreign key(CustomerID) references Customers(CustomerID),
    foreign key(SalespersonID) references Salespersons(SalespersonID)) ENGINE=InnoDB;
""")

connection.commit()

In [13]:
import pandas as pd

In [14]:
cursor.execute("""
insert into Salespersons(SalespersonID, Fullname, Phonenumber)
values
    (1,'Lê Hoàng Nam', '0934567890'),
    (2,'Trần Quốc Bảo','0945678123'),
    (3,'Nguyễn Minh Hà', '0956789123');
""")
connection.commit()

In [16]:
cursor.execute("""
insert into quanlybanhangc.Customers(CustomerID, Fullname, Email,Phonenumber)
values
    (1, 'Tran Van A', 'a@gmail.com', '152345'),
    (2, 'Nguyen Thi B', 'b@gmail.com', '123645'),
    (3, 'Le Van C', 'c@gmail.com', '123345'),
    (4, 'Pham Thi D', 'd@gmail.com', '127345'),
    (5, 'Bui Van E', 'e@gmail.com', '123945');
""")
connection.commit()

In [17]:
cursor.execute("""
insert into quanlybanhangc.orders(OrderID, CustomerID, SalespersonID, Orderdate,Totalamount)
values
    (1, 1, 1, '2024-03-10', 25000000),
    (2, 2, 2, '2024-03-11', 30000000),
    (3, 3, 3, '2024-03-12', 20000000);
""")
connection.commit()

In [19]:
query="""
select * from Orders where 1=1 and SalespersonID=1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

   OrderID  CustomerID  SalespersonID   Orderdate  Totalamount
0        1           1              1  2024-03-10   25000000.0

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\2054154901.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query(query, connection)

In [20]:
query="""
select c.CustomerID, c.Fullname, count(o.OrderID) as TotalOrders
from Customers c 
join Orders o ON c.CustomerID = o.CustomerID
Group by c.CustomerID
ORDER BY TotalOrders Desc
Limit 1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

   CustomerID    Fullname  TotalOrders
0           1  Tran Van A            1

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\2629416390.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query(query, connection)

In [21]:
query="""
select salespersonID, sum(totalamount) as Totalsales
from Orders
Group by salespersonID
order by Totalsales Desc;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

   salespersonID  Totalsales
0              2  30000000.0
1              1  25000000.0
2              3  20000000.0

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\3732995673.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query(query, connection)

In [22]:
query="""
select s.SalespersonID, s.Fullname, sum(o.totalamount) as Totalrevenues
from Salespersons s 
join Orders o ON s.SalespersonID = o.SalespersonID 
Group by s.SalespersonID
ORDER BY Totalrevenues Desc
Limit 1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

   SalespersonID       Fullname  Totalrevenues
0              2  Trần Quốc Bảo     30000000.0

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\1389482773.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query(query, connection)

In [25]:
query_update="""
UPDATE Orders 
SET Totalamount = 4500000
where 1=1
and OrderID = 2;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Orders", connection)
print(data)

   OrderID  CustomerID  SalespersonID   Orderdate  Totalamount
0        1           1              1  2024-03-10   25000000.0
1        2           2              2  2024-03-11    4500000.0
2        3           3              3  2024-03-12   20000000.0

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\3210950930.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query("SELECT * FROM Orders", connection)

In [26]:
query_update="""
UPDATE Customers 
SET Phonenumber = '0963552417'
where 1=1
and CustomerID = 3;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Customers WHERE CustomerID = 3", connection)
print(data)

   CustomerID  Fullname Phonenumber        Email
0           3  Le Van C  0963552417  c@gmail.com

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\4110463808.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query("SELECT * FROM Customers WHERE CustomerID = 3", connection)

In [27]:
query_update="""
Delete from Orders where CustomerID = 2;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Orders ", connection)
print(data)

   OrderID  CustomerID  SalespersonID   Orderdate  Totalamount
0        1           1              1  2024-03-10   25000000.0
1        3           3              3  2024-03-12   20000000.0

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_19688\2502101155.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data=pd.read_sql_query("SELECT * FROM Orders ", connection)

In [ ]:
import mysql.connector
db = mysql.connector.connect(user = "root", password = "mysql",
                             host="localhost")

print(db)
query = 'CREATE SCHEMA database_d35_usingmySQLlib '
cursor = db.cursor()
cursor.execute(query)   #Tạo Schema/Database

In [6]:
query = 'CREATE SCHEMA database_d35_usingmySQLlib '
cursor = connection.cursor()
cursor.execute(query)