In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="2011DongBaLiem@",
    database="quanlybanhangc"

)

In [ ]:
cursor = connection.cursor()
cursor.execute("""
create table if not exists Salespersons(
    SalespersonID int primary key,
    Fullname varchar(255) not null,
    Phonenumber varchar(15) unique not null) ENGINE=InnoDB;
""")
cursor.execute("""
create table if not exists Customers(
    CustomerID int primary key,
    Fullname varchar(255) not null,
    Phonenumber varchar(15) unique not null,
    Email varchar(255) unique not null) ENGINE=InnoDB;
""")
cursor.execute("""
create table if not exists orders(
    OrderID int primary key,
    CustomerID int  not null,
    SalespersonID int  not null,
    Orderdate date not null,
    Totalamount decimal(10,2),
    foreign key(CustomerID) references Customers(CustomerID),
    foreign key(SalespersonID) references Salespersons(SalespersonID)) ENGINE=InnoDB;
""")

connection.commit()

In [ ]:
import pandas as pd

In [ ]:
cursor.execute("""
insert into Salespersons(SalespersonID, Fullname, Phonenumber)
values
    (1,'Lê Hoàng Nam', '0934567890'),
    (2,'Trần Quốc Bảo','0945678123'),
    (3,'Nguyễn Minh Hà', '0956789123');
""")
connection.commit()

In [ ]:
cursor.execute("""
insert into quanlybanhangc.Customers(CustomerID, Fullname, Email,Phonenumber)
values
    (1, 'Tran Van A', 'a@gmail.com', '152345'),
    (2, 'Nguyen Thi B', 'b@gmail.com', '123645'),
    (3, 'Le Van C', 'c@gmail.com', '123345'),
    (4, 'Pham Thi D', 'd@gmail.com', '127345'),
    (5, 'Bui Van E', 'e@gmail.com', '123945');
""")
connection.commit()

In [ ]:
cursor.execute("""
insert into quanlybanhangc.orders(OrderID, CustomerID, SalespersonID, Orderdate,Totalamount)
values
    (1, 1, 1, '2024-03-10', 25000000),
    (2, 2, 2, '2024-03-11', 30000000),
    (3, 3, 3, '2024-03-12', 20000000);
""")
connection.commit()

In [ ]:
#Liệt kê tất cả đơn hàng của nhân viên SalespersonID=1
query="""
select * from Orders where 1=1 and SalespersonID=1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

In [ ]:
# Tìm khách hàng có sô lượng đơn hàng nhiều nhất
# count(1) / count(*)/count(column)

query="""
select c.CustomerID, c.Fullname, count(o.OrderID) as TotalOrders
from Customers c
join Orders o ON c.CustomerID = o.CustomerID
Group by c.CustomerID
ORDER BY TotalOrders Desc
Limit 1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

In [ ]:
# Tính tổng doanh số của từng nhân viên
query="""
select salespersonID, sum(totalamount) as Totalsales
from Orders
Group by salespersonID
order by Totalsales Desc;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

In [ ]:
#Tìm nhân viên có doanh số cao nhất
query="""
select s.SalespersonID, s.Fullname, sum(o.totalamount) as Totalrevenues
from Salespersons s
join Orders o ON s.SalespersonID = o.SalespersonID
Group by s.SalespersonID
ORDER BY Totalrevenues Desc
Limit 1;
"""
connection.commit()
data=pd.read_sql_query(query, connection)
print(data)

In [ ]:
#cập nhật tổng đơn hàng có OrderID=2 thành 4500000
query_update="""
UPDATE Orders
SET Totalamount = 4500000
where 1=1
and OrderID = 2;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Orders", connection)
print(data)

In [ ]:
# Cập nhật số điện thoại của KH CustomerID=3
query_update="""
UPDATE Customers
SET Phonenumber = '0963552417'
where 1=1
and CustomerID = 3;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Customers WHERE CustomerID = 3", connection)
print(data)

In [ ]:
#Xóa tất cả các đơn hàng của khách hàng có CustomerID=2
query_update="""
Delete from Orders where CustomerID = 2;
"""
cursor.execute(query_update)
connection.commit()

data=pd.read_sql_query("SELECT * FROM Orders ", connection)
print(data)