In [ ]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('stock2.sqlite')
cursor = connection.cursor()

In [ ]:
#MySQL
import mysql.connector
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password=" ",
    database="stock"
)
cursor = connection.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE if not exists STOCK (
  ID INTeger PRIMARY KEY,
  NAME TEXT NOT NULL,
  BUY decimal(5,2) NOT NULL,
  INVESTOR TEXT NOT NULL
);
""")

In [ ]:
cursor.execute("""
INSERT INTO STOCK(ID, NAME, BUY, INVESTOR)
VALUES
  (1,'ACB', 29.45, 'Nguyen'),
  (2,'VIC', 44.55, 'Nguyen'),
  (3,'GMD', 74.30, 'Nguyen'),
  (4,'ACB', 28.45, 'Vinh'),
  (5,'VIC', 40.55, 'Vinh'),
  (6,'GMD', 60.30, 'Vinh');
""")
connection.commit()
data=pd.read_sql_query("select * from stock", connection)
print(data)

   ID NAME    BUY INVESTOR
0   1  ACB  29.45   Nguyen
1   2  VIC  44.55   Nguyen
2   3  GMD  74.30   Nguyen
3   4  ACB  28.45     Vinh
4   5  VIC  40.55     Vinh
5   6  GMD  60.30     Vinh

In [ ]:
data_total_price=pd.read_sql_query("select sum(buy) as total_price from stock", connection)
print(data_total_price)

   total_price
0        277.6

In [ ]:
# print(f"Total Price: {data_total_price['total_price'][0]:.2f}")

Total Price: 277.60

In [ ]:
query="""
select investor, name, max(buy) as Max_price
from stock
group by investor;
"""
connection.commit()
data_max_price_by_investor=pd.read_sql_query(query, connection)
print(data_max_price_by_investor)

  INVESTOR NAME  Max_price
0   Nguyen  GMD       74.3
1     Vinh  GMD       60.3

#BÀI HỌC

In [ ]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('phone-management.sqlite')
cursor = connection.cursor()

In [ ]:
#MySQL
import mysql.connector
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password=" ",
    database="phone-management"
)
cursor = connection.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE PRODUCT (
  ID INTEGER PRIMARY KEY,
  NAME TEXT NOT NULL,
  BRAND TEXT NOT NULL,
  PRICE INTEGER NOT NULL
);
""")

In [ ]:
cursor.execute("""
INSERT INTO PRODUCT(ID, NAME, BRAND, PRICE)
VALUES
    (1, 'iPhone 15', 'Apple', '18000000'),
    (2, 'Galaxy Z-Fold 5', 'Samsung', '30000000'),
    (3, 'Find X', 'Oppo', '20000000'),
    (4, 'iPhone 14', 'Apple', '16000000'),
    (5, 'Galaxy Z-Flip','Samsung', '17000000'),
    (6, 'iPhone 15 Pro Max','Apple','48000000');
""")

connection.commit()

In [ ]:
data=pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID               NAME    BRAND     PRICE
0   1          iPhone 15    Apple  18000000
1   2    Galaxy Z-Fold 5  Samsung  30000000
2   3             Find X     Oppo  20000000
3   4          iPhone 14    Apple  16000000
4   5      Galaxy Z-Flip  Samsung  17000000
5   6  iPhone 15 Pro Max    Apple  48000000

In [ ]:
query="""
select sum(price) as total_revenue
from product;
"""


data_sum=pd.read_sql_query(query, connection)
print(data_sum)

   total_revenue
0      149000000

In [ ]:
query="""
select name, max(price) as price
from product;
"""
data_max=pd.read_sql_query(query, connection)
print(data_max)

                NAME     price
0  iPhone 15 Pro Max  48000000

In [ ]:
query="""
select brand, sum(price) as total_revenue
from product
group by brand; """
data_sum_by_brand=pd.read_sql_query(query, connection)
print(data_sum_by_brand)

     BRAND  total_revenue
0    Apple       82000000
1     Oppo       20000000
2  Samsung       47000000

In [ ]:
query="""
select name, brand, min(price) as price
from product
group by brand;
"""
data_min_by_brand=pd.read_sql_query(query,connection)
print(data_min_by_brand)

            NAME    BRAND     price
0      iPhone 14    Apple  16000000
1         Find X     Oppo  20000000
2  Galaxy Z-Flip  Samsung  17000000